.form-contents{
    margin: 0 auto;
   width: 80%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.form-contents input {
    outline: none;
    width: 80%;
    padding: 15px;
    height: 40px;
}

.form-button {
    width: 20%;
    border: none;
    border-radius: 2px;
    height: 40px;
    color: white;
    background-color: var(--primary-color);
}